@model ERP_JOSEREIS.ViewModels.ClienteViewModel


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("EditPF","Cliente")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PessoaFisica</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.DataNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.DataNascimento)
            @Html.ValidationMessageFor(model => model.PessoaFisica.DataNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.CPF)
            @Html.ValidationMessageFor(model => model.PessoaFisica.CPF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.TelefoneCelular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.TelefoneCelular)
            @Html.ValidationMessageFor(model => model.PessoaFisica.TelefoneCelular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.RG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.RG)
            @Html.ValidationMessageFor(model => model.PessoaFisica.RG)
        </div>

        @Html.HiddenFor(model => model.PessoaFisica.IdPessoa)

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.Nome)
            @Html.ValidationMessageFor(model => model.PessoaFisica.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.DataCadastro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.DataCadastro)
            @Html.ValidationMessageFor(model => model.PessoaFisica.DataCadastro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.Rua)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.Rua)
            @Html.ValidationMessageFor(model => model.PessoaFisica.Rua)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.Numero)
            @Html.ValidationMessageFor(model => model.PessoaFisica.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.Bairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.Bairro)
            @Html.ValidationMessageFor(model => model.PessoaFisica.Bairro)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.IdCidade, "Cidade")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCidade", String.Empty)
            @Html.ValidationMessageFor(model => model.PessoaFisica.IdCidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.CEP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.CEP)
            @Html.ValidationMessageFor(model => model.PessoaFisica.CEP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.TelefoneComercial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.TelefoneComercial)
            @Html.ValidationMessageFor(model => model.PessoaFisica.TelefoneComercial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaFisica.TelefoneResidencial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaFisica.TelefoneResidencial)
            @Html.ValidationMessageFor(model => model.PessoaFisica.TelefoneResidencial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cliente.IdCliente)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Cliente.preferencial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.preferencial)
            @Html.ValidationMessageFor(model => model.Cliente.preferencial)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
