@model ERP_JOSEREIS.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@(Model.PessoaFisica != null ? @Html.Partial("ClientePF"): @Html.Partial("ClientePJ"));


@*@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        @Html.HiddenFor(model => model.IdCliente)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
